<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml">

 <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

 </head>
 <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>


<body>
    <header th:replace="fragments/header :: header"></header>


    <div id="wrapper" class="wrapper">
        <div layout:fragment="content">


        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>