<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block sec:authorize="isAuthenticated()">
    <span sec:authentication="principal.username"></span>님 반가워요!
</th:block>

 <nav class="navbar navbar-inverse">
     <a class="navbar-brand" th:href="@{/list}">Simple Board</a>
     <a th:href="@{/logout}">로그아웃</a>
 </nav>


<body>
    <header th:replace="fragments/header :: header">

    </header>


    <div id="wrapper" class="wrapper">
        <div layout:fragment="content">


        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>