<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="css">

    <style>

        *{
            font-family: 'Stylish', sans-serif;
            list-style: none;
        }
        .btn-List{
            margin-top: 10px;
        }
        .reply {
            border-bottom: #4f5050;
        }

        ul {
            padding: 0;
            margin: 0;
        }
        #replyWrite {
            margin-top: 10px;
        }

        #register{
            margin-top: 10px;
        }
.replyContainer ul:first-child li{
    display: flex;
    flex-direction: row;
}

    </style>
</th:block>


<div class="container" layout:fragment="content">

    <div class="py-5 text-center">
        <h2>게시글 상세</h2>
    </div>

   <!--/{id}(id=${item.id})-->
    <form th:action="@{/delete}" th:method="post">

        <div>
            <label for="itemId">게시글 번호</label>
            <input type="text" id="itemId" name="itemId" class="form-control"
                   value="1" th:value="${item.id}" readonly>
        </div>

        <div>
            <label for="itemAuthor">작성자</label>
            <input type="text" id="itemAuthor" name="itemAuthor" class="form-control"
                   value="1" th:value="${item.author}" readonly>
        </div>

        <div>
            <label for="itemTitle">제목</label>
            <input type="text" id="itemTitle" name="itemTitle" class="form-control"
                   value="1" th:value="${item.title}" readonly>
        </div>
        <div>
            <label for="itemContent">내용</label>
            <input type="text" id="itemContent" name="itemContent" class="form-control"
                   value="1" th:value="${item.content}" readonly>
        </div>
        <div>
            <label for="itemreCnt">조회수</label>
            <input type="text" id="itemreCnt" name="itemreCnt" class="form-control"
                   value="1" th:value="${item.recnt}" readonly>
        </div>
        <div th:each="files : ${file}">
            <a th:href="@{/fileDown(FILE_NO=${files.FILE_NO})}">[[${files.ORG_FILE_NAME}]]</a>[[${files.FILE_SIZE}]]kb<br>
        </div>


        <div class="btn-List">
            <button class="btn btn-primary" role="button" type="submit">삭제</button>
            <button class="btn btn-primary" th:href="@{/list}" role="button">목록</button>
            <a class="btn btn-primary" th:href="@{/modify(id=${item.id})}" role="button">수정</a>
        </div>
    </form>





    <div class="reply">
        <form method="POST" th:action="@{/deleteReply}">
        <div class="replyContainer" th:each="reply : ${replyList}">

            <input type="hidden" name="id" id="idx" th:value="${reply.id}">
            <input type="hidden" name="rno" id="rno" th:value="${reply.rno}">
            <ul>
                <li>작성자</li>
                <li th:text="${reply.author}">author</li>
                <li>등록일자</li>
                <li th:text="${reply.regdate}">regDate</li>
            </ul>
            <ul>
                <li>내용</li>
                <li th:text="${reply.content}">content</li>
            </ul>

            <input class="btn btn-primary" id="deleteReply" type="submit" role="button" value="댓글삭제">
            <a class="btn btn-primary" th:href="@{/modifyReply(rno=${reply.rno})}">댓글 수정</a>

        </div>
        </form>

    </div>



    <form th:action="@{/replyWrite}" method="post"  name="replyForm" id="replyWrite">
        <input type="hidden" id="id" name="id" th:value="${item.id}" />
        <div class="col-sm-10">
            <input type="text" name="author" id="author" ><!--th:value="${replyVO?.author}"-->
            <span th:text="${valid_author}"></span>
        </div>
        <div class="col-sm-10">
            <input type="text" name="content" id="content" ><!--th:value="${replyVO?.content}"-->
            <span th:text="${valid_content}"></span>
        </div>
        <button class="btn btn-primary"  id="register" type="submit" role="button">등록</button>
    </form>


    <th:block layout:fragment="script">
    </th:block>
</div>



</html>