<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">


<th:block layout:fragment="css">
    <style>
        *{
            font-family: 'Stylish', sans-serif;
        }
        .box-footer{
            display: flex;
            justify-content: center;
        }
        #optionList{
            width: 80px;
            margin-right:5px;
        }
        .form-group{
            display: flex;
            flex-direction: row;
        }
    </style>
</th:block>



<div class="container" layout:fragment="content">
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="post : ${boardList}">
            <th scope="row">
                <!--       <a th:href="@{/detailItem/{id}(id=${post.id})}">-->
                <a th:href="@{/detailItem(id=${post.id})}">
                    <span th:text="${post.id}"></span>
                </a>

            </th>
            <td>
                <span th:text="${post.title}"></span>
            </td>
            <td>
                <a th:href="@{/detailItem/{id}(id=${post.id})}">
                    <span th:text="${post.author}"></span>
                </a>
            </td>
            <td>
                <span th:text="${post.regdate}">regDate</span>
                <!--<span th:text="${#temporals.format(post.createDateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>-->
            </td>
            <td>
                <span th:text="${post.recnt}">regDate</span>
            </td>


        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-primary" th:href="@{/post}" role="button">글쓰기</a>
        </div>
    </div>



    <!--
        <li th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"
            th:classappend="${pageMaker.cri.page} == ${idx} ? active : null ">-->
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">


            <li th:if="${pageMaker.prev} == true">
                <a th:with="link=|/list${pageMaker.makeSearch(pageMaker.startPage - 1)}|" th:href="@{${link}}">&laquo;</a>
            </li>

            <li th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                <a th:with="link=|/list${pageMaker.makeSearch(idx)}|" th:href="@{${link}}" th:text="${idx}"> </a>
            </li>

            <li th:if="${pageMaker.next} == false and ${pageMaker.endPage > 0}">
                <a th:with="link=|/list${pageMaker.makeSearch(pageMaker.endPage)}|" th:href="@{${link}}">&raquo;</a>
            </li>

        </ul>

    </div>




<!-- https://melonpeach.tistory.com/30?category=806570 현재내가하고잇는 게시판 -->
<!--https://kogle.tistory.com/265 타임리프 셀럭트-->

    <div class="form-group">
        <select id="optionList" name="searchType" class="form-control">
            <option value="" th:selected="${#strings.isEmpty(scri.searchType)}">전체</option>
            <option value="t" th:selected="${#strings.equals(scri.searchType,'t')}">제목</option>
            <option value="c" th:selected="${#strings.equals(scri.searchType,'c')}">내용</option>
            <option value="w" th:selected="${#strings.equals(scri.searchType,'w')}">작성자</option>
        </select>
        <!--value 에입력한값의 키가 name이 되는것-->
        <input type="test"  name="keyword" id="keywordInput"  th:value="${scri.searchType}"/>
        <button class="btn btn-primary" id="searchBtn" type="button">검색</button>
    </div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">

            let page = [[${pageMaker.makeQuery(1)}]]
            $(document).ready(function () {
                $("#searchBtn").click(function () {

                    str = "list"
                        + page
                        + "&searchType="
                        + $("select option:selected").val()
                        + "&keyword="
                        + encodeURIComponent($('#keywordInput').val());
                    alert(str);
                    self.location = str;

                });
            });


        </script>
    </th:block>
</div>
</html>
<!--    $("select option:selected").value()-->

<!--
let selectOption = document.getElementById("test").options.selectedIndex;
 const btn = document.querySelector("#searchBtn");
 btn.addEventListener('click',function(){
     alert("하위");
     self.location= "list" + '${pageMaker.makeQuery(1)}' + "&searchType=" + selectOption + "&keyword=" + encodeURIComponent($('#keywordInput').value());
 });
-->