<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
      <!--xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{samples/layout/sampleLayout}"-->
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<header th:insert="common/header.html"></header>
<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="post : ${boardList}">
            <th scope="row">
                <a th:href="@{/detailItem/{id}(id=${post.id})}">
                    <span th:text="${post.id}"></span>
                </a>

            </th>
            <td>
                <span th:text="${post.title}"></span>
            </td>
            <td>
                <a th:href="@{/detailItem/{id}(id=${post.id})}">
                    <span th:text="${post.author}"></span>
                </a>
            </td>
            <td>
                <span th:text="${post.regdate}">regDate</span>
                <!--<span th:text="${#temporals.format(post.createDateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>-->
            </td>
            <td>
                <span th:text="${post.recnt}">regDate</span>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-primary" th:href="@{/post}" role="button">글쓰기</a>
        </div>
    </div>


</div>
<div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">

        <li th:if="${pageMaker.prev} == true">
            <a th:href="@{/list(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum})}">&laquo;</a>
        </li>

        <li th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"
            th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
            <a th:href="@{/list(page=${idx},perPageNum=${pageMaker.cri.perPageNum})}" th:text="${idx}"></a>
        </li>

        <li th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}">
            <a th:href="@{/list(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum})}">&raquo;</a>
        </li>

    </ul>

</div>

</div>
</body>
</html>