<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
    <style>
        .btnList {
            display: flex;
            flex-direction: row;
        }

        .list {
            margin-left: 3px;
        }
    </style>
</th:block>

<div class="container" layout:fragment="content">

    <div class="py-5 text-center">
        <h2>수정 폼</h2>
    </div>

    <form th:action="@{/modify}" method="post">
        <div>
            <label for="id">게시글 번호</label><input type="text" id="id" name="id" class="form-control"
                                                 value="1" th:value="*{updateLine?.id}" readonly>
        </div>
        <div>
            <label for="author">작성자</label>
            <input type="text" id="author" name="author" class="form-control"
                   value="1" th:value="*{updateLine?.author}" readonly>
            <span th:text="${valid_author}"></span>
        </div>
        <div>
            <label for="title">제목</label>
            <input type="text" id="title" name="title" class="form-control"
                   value="1" th:value="*{updateLine?.title}">
            <span th:text="${valid_title}"></span>
        </div>
        <div>
            <label for="content">내용</label>
            <input type="text" id="content" name="content" class="form-control"
                   value="1" th:value="*{updateLine?.content}">
            <span th:text="${valid_content}"></span>
        </div>
        <div>
            <label for="recnt">조회수</label>
            <input type="text" id="recnt" name="recnt" class="form-control"
                   value="1" th:value="*{updateLine?.recnt}" readonly>
        </div>

        <div class="btnList">
            <input class="btn btn-primary" type="submit" id="updateBtn" name="updateBtn" value="수정">

            <span class="list">
                 <a class="btn btn-primary" th:href="@{/list}" role="button">목록</a>
              </span>
        </div>
    </form>


</div>

</html>