<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="css">

</th:block>

<div class="container" layout:fragment="content">
    <div class="py-5 text-center">
        <h2>수정 폼</h2>
    </div>

    <form th:action="@{/modifyReply}" method="post">
        <div>
            <input type="hidden" id="id" name="id" class="form-control" th:value="${replyColumn?.id}" readonly>
        </div>
        <div>
            <label for="rno">댓글 번호</label>
            <input type="text" id="rno" name="rno" class="form-control" th:value="${replyColumn?.rno}" readonly>
            <span th:text="${valid_rno}"></span>
        </div>
        <div>
            <label for="author">작성자</label>
            <input type="text" id="author" name="author" class="form-control"
                   value="1" th:value="${replyColumn?.author}" readonly>
            <span th:text="${valid_author}"></span>
        </div>
        <div>
            <label for="content">내용</label>
            <input type="text" id="content" name="content" class="form-control"
                   value="1" th:value="${replyColumn?.content}">
            <span th:text="${valid_content}"></span>
        </div>

        <div class="btnList">
            <input class="btn btn-primary" type="submit" id="updateBtn" name="updateBtn" value="수정">

            <span class="list">
                 <a class="btn btn-primary" th:href="@{/list}" role="button">목록</a>
              </span>
        </div>
    </form>




    <th:block layout:fragment="script">
    </th:block>
</div>

</html>