<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
    <style>

        *{
            font-family: 'Stylish', sans-serif;
        }
        .button {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }

        .btn {

        }
    </style>
</th:block>


<div class="container" layout:fragment="content">
    <form th:action method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="inputAuthor" class="col-sm-2 col-form-label"><strong>작성자</strong></label>
            <div class="col-sm-10">
                <input type="text" name="author" class="form-control" id="inputAuthor" th:value="${#authentication.name}" readonly>
               <!-- <span th:text="${valid_author}"></span>-->
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label"><strong>제목</strong></label>
            <div class="col-sm-10">
                <input type="text" name="title" class="form-control" id="inputTitle" th:value="${boardVO?.title}">
                <span th:text="${valid_title}"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputContent" class="col-sm-2 col-form-label"><strong>내용</strong></label>
            <div class="col-sm-10">
                <textarea type="text" name="content" class="form-control" id="inputContent"></textarea>
                <span th:text="${valid_content}"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputContent" class="col-sm-2 col-form-label"><strong>파일등록</strong></label>
            <div class="col-sm-10">
                <span id="fileIndex"></span>
            </div>
        </div>
        <!--<input type="hidden" name="${_csrf.parameterName }" value="${_csrf.token }"/>-->
        <button class="fileAdd_btn" type="button">파일추가</button>


        <div class="button">
            <div class="row">
                <div class="col-auto mr-auto"></div>
                <div class="col-auto">
                    <input class="btn btn-primary" type="submit" role="button" value="글쓰기">
                </div>
            </div>

            <div class="row">
                <div class="col-auto mr-auto"></div>
                <div class="col-auto">
                    <input class="btn btn-primary" type="button" role="button" value="목록"
                           onclick="location.href='/list'">
                </div>
            </div>
        </div>
    </form>

    <th:block layout:fragment="script">
        <script type="text/javascript" th:inline="javascript">
``
                let fileIndex = 1;
                $(".fileAdd_btn").on("click", function(){
                    $("#fileIndex").append("<div><input type='file' style='float:left;' name='file_"+(fileIndex++)+"'>"+"</button>"+"<button type='button' style='float:right;' id='fileDelBtn'>"+"삭제"+"</button></div>");
                });
                $(document).on("click","#fileDelBtn", function(){
                    $(this).parent().remove();

                });

        </script>
    </th:block>

</div>



</html>