<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.board.mapper.UserMapper">
<!--users as u , userRoles as ur , Roles as r-->
    <select id="findByUserId" resultType="mybatis.board.domain.user.UserVO">
        SELECT u.password as password,
               u.name     as name,
               r.roleName AS roleName
        FROM users u
                 INNER JOIN userRoles ur
                            ON u.userNo = ur.userNo
                 INNER JOIN roles r
                            ON r.roleNo = ur.roleNo
        WHERE u.userId = #{userId}
    </select>

    <insert id="userSave" parameterType="mybatis.board.domain.user.UserVO">
        INSERT INTO users
        (userNo,
         userId,
         password,
         name)
        VALUES (SEQ_USERLIST.NEXTVAL,
                #{userId},
                #{password},
                #{name})
    </insert>

    <insert id="userRoleSave">
        INSERT INTO userRoles
        (userNo,
         roleNo)
        VALUES (#{userNo},
                #{roleNo})
    </insert>

    <select id="findUserNo" resultType="Integer">
        SELECT userNo
        FROM users
        WHERE userId = #{userId}
    </select>

    <select id="findRoleNo" resultType="Integer">
        SELECT roleNo
        FROM roles
        WHERE roleName = #{roleName}
    </select>
</mapper>